<script>

$(function(){
var tokenitem = document.cookie.split(';').find(function(i){return $.trim(i).split('=')[0]=='access_token'})
if (tokenitem) { window.gitlab_token = tokenitem.split('=')[1] } else { window.gitlab_token = '' }
var path = encodeURIComponent(window.location.pathname);
if (window.gitlab_token) {
    $('#signin').text("Sign out").prop('href','{{$.Site.BaseURL}}/page/signout/?state=' + path);
    var assignee_id = "";
    $.ajax('https://gitlab.com/api/v4/user', {
        'headers':{
            'Authorization': 'Bearer '+window.gitlab_token,
            'Content-Type': 'application/json'
        },
        'success': function(output) {
            assignee_id = output['id'];
        }
    })
    $('#api-example').click(function() {
        $.ajax('https://gitlab.com/api/v4/projects/21959202/issues',{
                'data':JSON.stringify({
                    'title': $('#company').val() + " - " + $('#size').val() + " " + $("input[name='location']:checked").val(),
                    'description': "**Asks for Solutions Architect**: \n\n" + ($('#extra').val() || "None provided") + "\n\n**Preferred Date & Time Options**: \n\n" + ($('#timeframe').val() || "Open to any dates") + "\n\n **Command Plan**: [SFDC]("+ ($('#commandplan').val() || "#") +") \n\n * "+ ($('#whynow').val() || "[ ]") + " **AE:** [Command Plan's Why Now](https://about.gitlab.com/handbook/sales/command-of-the-message/command-plan/#opportunity-overview) is in sentence form and describes the compelling event and why the customer needs to make the purchase now.\n * "+($('#identifypain').val() || "[ ]") + " **AE:** [MEDDPPICC's Identify Pain](https://about.gitlab.com/handbook/sales/meddppicc/#identify-pain) is in sentence form mapped to the people who have the pain and in charge of fixing it.\n * "+($('#agenda').val() || "[ ]") + " **AE:** [Customer Agreed-Upon Meeting Agenda](https://about.gitlab.com/handbook/sales/commercial/#custom-deck-requirements) is in Customer Pitch Deck (and is available for SAs to edit) or below for deals less than $10k \n\n :point_up: SAs will leverage SFDC chatter to ask for clarifications from the AE & ASM when the 3 items above are not providing enough information. Within the chatter, the SA will make a best effort to provide the why and recommend questions to ask the customer. The reason for this is because when information is not provided, it limits an SA's ability to prepare for the meeting with the customer and will inevitably increase the sales cycle. \n\n * [ ]  **AE:** Upon being assigned an SA, please create a 15 minute sync with the SA to review the opportunity and align on the intended outcome of the meeting.",
                    'assignee_id': assignee_id
                }),
                'method':'POST',
                'headers':{
                    'Authorization': 'Bearer '+window.gitlab_token,
                    'Content-Type': 'application/json'
                },
                'success': function(output) {
                    $('#api-output').html('<a target="_blank" href="' + output['web_url'] + '">See Issue for Next Steps</a>');
                    window.location.replace(output['web_url']);
                },
                'error':function(output) {
                    $('#api-output').html('<b>Error</b>')
                }});
        $('#pipeline-form').hide();
        $('#pipeline-after').show();
    })
} else {
    var url="https://gitlab.com/oauth/authorize?client_id=5c69a8d86e6a5887c9098b5d52d2a6e90df218c2cdcae62dc288952055e993ab&redirect_uri=https%3A%2F%2Fpoffey21.gitlab.io%2Fcustom-pipeline-form%2Fpage%2Fauth&response_type=token&scope=api&state=" + path;
    $('#signin').text("Sign in").prop('href',url);
    $('#requestform').text("Please sign in first")
    window.location.replace(url);
    $('#api-example').click(function() {
        alert("Please sign in to GitLab at the top right before trying to access the API");
    })
}
})
</script>
